<div class="row">
    <div class="col-8 offset-2">
        <form action="/product/save-add" method="post">
        <h1 class="form-group">Thêm sản phẩm</h1>
            <div class="form-group">
                <label for="">Tên sản phẩm</label>
                <input type="text" class="form-control" name="name" >
            </div>
            <div class="form-group">
                <label for="">Ảnh</label>
                <input type="text" class="form-control" name="image" >
            </div>
            {{!-- <div class="form-group">
                <label for="">Danh mục</label>
                <select name="cate_id" class="form-control">
                    <option value="">Điện thoại-Máy tính bảng</option>
                    <option value="">Điện tử-Điện lạnh</option>
                    <option value="">Phụ kiện-Thiết bị số</option>
                    <option value="">Laptop-THiết bị IT</option>
                </select>
            </div> --}}
             {{!-- <div class="form-group">
                 <input type="file" class="form-control-file" id="exampleFormControlFile1">
             </div> --}}
              <div class="form-group">
                <label for="">Giá</label>
                <input type="text" class="form-control" name="price" >
            </div>
            <div class="form-group">
                <label for="">Mô tả</label><br> 
                <textarea class="form-control" name="description" id="validationTextarea" placeholder="Thêm mô tả" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Thêm vào</button>
             <a href="/" class="btn btn-danger">Hủy</a>
        </form>
    </div>
</div>