<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li>Trang chu</li>
        <li>Danh sach san pham</li>
        <li>Gio hang</li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
