<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
  <link rel='stylesheet' href='/plugins/bootstrap/css/bootstrap.min.css' />

</head>

<body>
  <div class="jumbotron p-3 mb-2 bg-primary text-white">
    <div class="container text-center">
      <h1>Tiki</h1>
      <p>Trang mua hàng trực tuyến...</p>
    </div>
  </div>
  {{{body}}}
</body>

</html>