<div class="row">
    <div class="col-8 offset-2">
        <form action="/cates/save-add" method="post">
        <h1 class="form-group">Thêm danh mục sản phẩm</h1>
            <div class="form-group">
                <label for="">Tên danh mục</label>
                <input type="text" class="form-control" name="name" >
            </div>
            <div class="form-group">
                <label for="">Ảnh thư mục</label>
                <input type="text" name="image" class="form-control" id="exampleFormControlFile1">
            </div>
            {{!-- <div class="form-group">
                <label for="">Ảnh thư mục</label>
                <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">
            </div> --}}
            {{!-- <div class="form-group">
                <label for="">Danh mục</label>
                <select name="cate_id" class="form-control">
                    <option value="">Điện tử-Điện lạnh</option>
                    <option value="">Máy Ảnh</option>
                    <option value="">Laptop</option>
                    <option value="">Điện thoại</option>
                </select>
            </div> --}}
             <div class="form-group">
                 
             </div>
              {{!-- <div class="form-group">
                <label for="">Giá</label>
                <input type="number" class="form-control" name="name">
            </div> --}}
            <div class="form-group">
                <label for="">Mô tả</label><br> 
                <textarea class="form-control" name ="description" cols="30" rows="5" id="validationTextarea" placeholder="Thêm mô tả" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Thêm vào</button>
             <a href="/" class="btn btn-danger">Hủy</a>
        </form>
    </div>
</div>